body
    {background-image: url(https://cdn.motor1.com/images/mgl/7yk07/s1/ken-block-s-cars.jpg)}
header{background-color: crimson;
text-align: center;
}
li {
    border: solid black;
    display: inline-block;
}
